body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  background: rgba(0, 10, 0, 0.3);
  background-image: linear-gradient(rgba(201, 201, 201, .7) .1em, transparent .2em), linear-gradient(90deg, rgba(201, 201, 201, .7) .2em, transparent .2em);
  background-size: 3em 3em;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
